---
import Layout from "../layouts/Main.astro"
import projectsData from "/json/projects.json"

const articles = Astro.fetchContent('./articles/*.md').slice(0,5)
const projects = projectsData.slice(0,5)

const title = "Nirmalya Ghosh"
const subTitle = `I'm a <span class="font-extrabold">Developer</span>, who likes designing writing and <span class="font-extrabold">building Open Source</span> stuffs.`
---
<Layout title={title}>
  <section class="space-y-2 text-center p-12">
    <h1 class="font-bold text-4xl">{title}</h1>
    <h2 class="font-semibold text-sm">{subTitle}</h2>
  </section>
  <section class="space-y-2">
    <h1 class="font-semibold text-lg">Latest articles</h1>
    <div class="space-y-8">
      {articles.map(article => {
        return (
          <a href={article.url} class="flex flex-col">
            <h2 class="font-semibold text-md text-blue-600 hover:text-blue-700">{article.title}</h2>
            <p class="text-sm text-gray-670">{article.description}</p>
          </a>
        )
      })}
    </div>
  </section>
  <section class="space-y-2">
    <h1 class="font-semibold text-lg">Latest projects</h1>
    <div class="space-y-8">
      {projects.map(project => {
        return (
          <a href={project.url} class="flex flex-col">
            <h2 class="font-semibold text-md text-blue-600 hover:text-blue-700">{project.title}</h2>
            <p class="text-sm text-gray-670">{project.description}</p>
          </a>
        )
      })}
    </div>
  </section>
</Layout>

